@CHARSET "ISO-8859-1";
/******************************************************
0. Meyer Reset
1. Universal styles (typography, etc.)
2. Header & Nav styles
3. Main Body Content
4. Sidebar Content
5. Widget Content
6. Footer Content
7. Comments & Forms
******************************************************/

/******************************************************
0. Meyer Reset
******************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/******************************************************
1. Universal styles (typography, etc.)
******************************************************/
/*Fonts*/
@font-face {
	font-family: 'Cantarell';
	src: url('_fonts/Cantarell-Regular-webfont.eot');
	src: url('_fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('_fonts/Cantarell-Regular-webfont.woff') format('woff'), url('_fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('_fonts/Cantarell-Regular-webfont.svg#webfont9UOzsjXz') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('_fonts/Cantarell-Bold-webfont.eot');
	src: url('_fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('_fonts/Cantarell-Bold-webfont.woff') format('woff'), url('_fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('_fonts/Cantarell-Bold-webfont.svg#webfontKr2CkGZp') format('svg');
	font-weight: bold;
	font-style:normal;
}

body, #editnoreply, #editcallback, .client-payment-history, .client-admin-page, .detail-page, .page {
	
	font-family: 'Cantarell', Arial, sans-serif;
	color:#747474;
}

.page {
	
	width: 80%;
	max-width:980px;
	margin: 10px auto;
	background-color:#fff;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	
}

.min {
	min-width:980px;	
}
html {
	height:100%;	
}
body {
	/* By default the body element only seems to adopt the height of the content, so a background
	   gradient will not necessarily fill the browser window. By making the html element (the parent container 
	   a height of 100% and by making the body height 100% of that, then it appears to behave as you want it to. */
	line-height:1.3em;
	height:100%;
	background-color:#f9f9f9;
	background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#f9f9f9));
	background: -moz-linear-gradient(top, #d3d3d3, #f9f9f9);
	background: -ms-linear-gradient(top, #d3d3d3, #f9f9f9);	
}

/******************************************************
2. Header & Nav styles
******************************************************/
#logo {width:20%;}
header {
	height:155px;
	padding-top:20px;
	position:relative;
}

header h1 {
	font-weight:bold;
	text-transform: uppercase;
	text-align:center;
	font-size: 1.7em;
	margin-top:0px;
}

header img {margin-left: 15px;}

nav {
	 background-color: #888383;
     border-bottom: 2px solid #177131;
     display: block;
     left: 0;
     margin: 0 auto;
     padding-left: 3%;
     padding-top: 6px;
     position: absolute;
     top: 0;
     width: 97%;
	background: radial-gradient(at right top , #999999, #888383) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	
}

nav a {
	 background-color: #bdc0b5;
     border-left: 1px solid #98f7b3;
     border-radius: 6px 6px 0 0;
     border-right: 1px solid #98f7b3;
     border-top: 1px solid #98f7b3;
     color: #ecefe2;
     display: inline-block;
     font-size: 0.9em;
     font-weight: bold;
     margin-right: 1px;
     margin-top: 5px;
     padding: 7px 7px 8px;
     text-decoration: none;
     text-transform: uppercase;
}

a.current{
	background-color: white;
    border-left: 2px solid #177131;
    border-right: 2px solid #177131;
    border-top: 2px solid #177131;
    box-shadow: 1px 1px 1px inset;
    color: #747474;
    position: relative;
    top: 2px;
	box-shadow: 1px 1px 1px #177131 inset;
	-moz-box-shadow: 1px 1px 1px #177131 inset;
	-webkit-box-shadow: 1px 1px 1px #177131 inset;
}


#date {
	position: absolute;
	top: 20px;
	left: 750px;
	font-size:0.9em;
}

#loggedinas {
	position:absolute;
	top:39px;
	left:750px;
	font-size:0.9em;
}

#logout {
  float: right;
  margin-left: 10px;
}
/*#logout {
	position:absolute;
	top:70px;
	left:770px;
	border: 1px solid #999999;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	padding:5px 5px 7px 5px;
	background-color:#747474;
	color:white;
	z-index:1;
	
}

#logout a {
	text-decoration:none;
	color:white;
}*/

#stssts > img {
    margin-left: 5px;
}

#tools {
	float:right;
	position:relative;
	padding-right:25px;
}


footer {
	margin-top:45px;
	padding-bottom:15px;
}


/******************************************************
3. Main Body Content
******************************************************/
#toolbar {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin-right: 20px;
	margin-bottom:6px;
}

#toolbar > img {
    width: 35%;
	margin: 5px 5px 0px 5px;
}
.cell {
    display: inline-block;
    width: 90px;
}

.xcell {
    display: inline-block;
    width: 100px;
}
.relative {position:relative;}
.absolute {position:absolute;}
.pointer {cursor:pointer};
.invalid {border:1px solid red !important;}
.uc {text-transform: uppercase;}
.hide {display:none;}
.upper {text-transform:uppercase;}

.mand:after {
	content:"*";
	color:red;
	padding-left:3px;
}


.toggle img{
	position:absolute;
	top:2px;
	right:-22px;
	cursor:pointer;
}
.p-content-width {
	width:60%;
	margin:0 auto;
}
#login {
	width:50%;
	margin:60px auto;
}

#pwd-reset {
	width:40%;
	margin:0 auto;
}

#content{
	padding:60px 20px 10px;
	position:relative;}

#content h1 {
	font-weight:bold;
	margin-bottom:25px;
}

#content p {
	margin-bottom: 5px;
	min-height: 17px;
	margin-top:5px;
}

th {
	font-weight:bold;
	display:inline-block; 
}
#tlist{
	margin-top:15px;
	margin-bottom:10px;
	font-size:10px;
}

.rows, .arows {
	float:left;
	margin-bottom:5px;
	clear:both;
	position:relative;
}

.rows label{
	float:left;
	width:230px;
	color:#575353;
}

.rows p {
	float: right;
	width:450px;
	    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: smaller;
}

#login .rows label {
	width:170px;
}

input, select,textarea{
	border-radius: 5px;
	border-radius: 3px;
	border:1px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-mox-border-radius: 5px;
	
}
.rows input, .rows select, .rows textarea{
	float:left;
	box-shadow:none !important; /*eliminates red border that happens when the form is reset*/
	border-radius: 5px;
	border-radius: 3px;
	border:1px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-mox-border-radius: 5px;
	
}

.clearfix {
	clear: both;
	height:1px;
}

.helpers a
{
	overflow: hidden;
	display: inline-block;
	width: 28px; height: 20px;
	background-image: url('../images/spr-helpers.png');
	margin: 1px 2px 0 0;
	text-indent: -999em;
	cursor:pointer;	
	
	vertical-align: middle;	
}
.option-1 {
	background-position: 0 0;
}

.option-2 {
	background-position: -28px 0;
}

.option-3 {
	background-position: -56px 0;
}


.option-4 {
	background-position: -84px 0;
}

.option-5 {
	background-position: -112px 0;
}

.option-6 {
	background-position: -140px 0;
}

table tr:hover .option-1 {
	background-position: 0 -20px;
}

table tr:hover .option-2 {
	background-position: -28px -20px;
}

table tr:hover .option-3 {
	background-position: -56px -20px;
}


table tr:hover .option-4 {
	background-position: -84px -20px;
}


table tr:hover .option-5 {
	background-position: -112px -20px;
}

table tr:hover .option-6 {
	background-position: -140px -20px;
}

#search-results {
	display:none;
}

.strong {font-weight:bold;}

tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}


.error {
    position: absolute;
	display:none;
    top: 2px;
    width: 400px;
	color: red;
	font-size:0.7em;
}

/* #results {
    margin: 0 auto;
    width: 800px;
}
 */
.applist h2, .applist h3 {
	color:#ecefe2;
}

.applist h2 {
	font-weight: bold;
	font-size:1.3em;
	padding-bottom:10px;
}

.applist h3 {
	/* padding-bottom:10px; */
}

.applist table, #results table {
	background-color: #fff;
    border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width:100%;
	padding:5px;
	font-size:0.8em;
}


#results p, .applist p {color:#ecefe2;}

.applist table td, #results table td {
	border-top:1px solid #b9b9b9;
	border-right:1px solid #b9b9b9;
}

.applist table th, #results table th {
	
	border-right:1px solid #b9b9b9;
}

.applist table tr td:last-child, .applist table tr th:last-child, #results table tr td:last-child, #results table tr th:last-child {
	
	border-right:none;
}

.applist, #results{
    background-color: #888383;
    border-radius: 6px 6px 6px 6px;
   /*  margin: 0 auto 10px; */
	margin: 0 0px 20px;
    padding: 10px;
   /*  width: 85%; */
  width: 91%; 
 	
}

#search-form {
	margin: 0 auto 10px;
    padding: 10px;
    width: 85%;
}

#results h3, .applist h3 {
	color:white;
	font-size:1.2em;
	font-weight:bold;
}

#results h3 img, .applist h3 img {
	vertical-align:middle;
	margin-left:10px;
}

.company {width:237px;}
.client {width:255px;}
.parent {width:187px;}
.award {width:100px;}
.recent {width:120px;}
.helpers {width:170px;}
.actions {width:170px;}
.manage {padding-left:3px;}
.telno {width:110px;}
.compact {width:187px;}
.status {width:80px;}
.cname {width:190px;}
.cline {width:170px;}
.cemail {width:280px;}
#contacts table {
	margin-left:230px;
	 font-size: 0.8em;
	width:700px;
}
#contacts table tbody {overflow-y:auto;}
.todo {
    width: 90px;
}
.description {
    width: 310px;
}
.plan {
    width: 160px;
}

.task {width: 100px;}
.comments {width: 200px;}
.time {width: 80px;}
.orderby {
    margin-left: 350px;
}

#results, .applist {position:relative;}

#filter {
	position:absolute;
	top:30px;
	right:50px;
	color:white;
}

#search {
	border:1px solid grey;
	border-radius: 5px 5px 5px 5px;
	-web-kit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	margin-right:5px;
}

.sel {
	width:85%;
	margin: 0 auto 15px auto;
	
}

.list table {
	width:100% !important;
}

#error {
    background-color: grey;
    border: 6px solid grey;
    border-radius: 5px 5px 5px 5px;
    margin: 30px auto 0;
    width: 500px;
}

#admin-service, #share-list {
    display: none;
}

.status-field {
	line-height:1.1em;
	margin-top:10px;
}
.invalid {border:1px solid red !important;}
.readonly {border:1px solid white !important;}
label img {
margin-left: 10px;
vertical-align: middle;
}
.rb {
    display: inline-block;
    margin-right: 10px;
}

.form-bkg {
    background-color: #efefef; 
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px; 
    margin-bottom: 25px;
   /*  padding: 5px; */
	padding: 5px 13px 5px 5px;
}

.phdg {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 5px;
}

.doc > img {
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.grey {
	background-color: #EFEFEF;
	border:none !important;
}
#tstatus {
	border-radius:5px 5px 5px 5px;
	width:190px;
	/* text-align:center; */
	/* background-color:white; */
	color:white;
	padding:1px;
	margin-top:5px;
}

#ate {
width: 80px;
text-align: center;
}


#ui-datepicker-div {
	font-size:10px;
}
table.ui-datepicker-calendar thead {
	font-size:11px;
}

#file-menu {margin-bottom:15px;}

#feedback {
    right: 5px;
    position: absolute;
    top: 150px;
}

.hint {padding-left:5px;}
/******************************************************
4. Sidebar Content
******************************************************/

/******************************************************
5. Widget Content
******************************************************/

/******************************************************
6. Footer Content
******************************************************/

footer p {
	width:100%;
	text-align:center;
	font-size:0.8em;
}

footer a {
    color: #747474;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
}

footer a:hover {
	color:black;
}

/******************************************************
7. Comments & Forms
******************************************************/
