@CHARSET "ISO-8859-1";

body{
	
	padding:0px;
	margin:0px;
}

#box{
	
	width:250px;
}

ul#suggestions {
	background-color:#FFFFFF;
	position:absolute;
	padding: 0px;
	list-style-type:none;
	margin:0px;
	z-index:1;
	min-width:151px;
	left:193px;
	top:204px;
	border:1px solid #cdcdcd;
	border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	font-size:0.8em;
}

strong {
	font-weight:bolder;
	color:black;
}

li:hover {
	background-color:#DDDDDD; /* Probably not going to be compatible with IE */
	cursor:pointer;
}