@CHARSET "ISO-8859-1";

#intro, #other {
	display:none;
}

label.add img, img.addr {
	vertical-align:middle;
	margin-left:10px;
}

#cp-status {min-height:17px;}
#admin-service, #share-list, #bnkdtls {display:none;}

.formh3 {
    font-size: 1.1em;
    margin: 15px 0;
    text-decoration: underline;
}
