@CHARSET "ISO-8859-1";
.overdue:after {
			    background-color: red;
			    content: "";
			    display: inline-block;
			    height: 15px;
			    vertical-align: middle;
			    width: 15px;
			}
			
			.later:after {
			    background-color: orange;
			    content: "";
			    display: inline-block;
			    height: 15px;
				vertical-align: middle;
			    width: 15px;
			}
			
			.reset:after {
			    background-color: white;
			    content: "";
			    display: inline-block;
			    height: 15px;
				vertical-align: middle;
			    width: 15px;
			}
			
			.orange {
				background-color:orange;
				color:white;
			}
			.red {
				background-color:red;
				color:white;
			}