@CHARSET "ISO-8859-1";

.intro-list {
    margin: 0 !important;
}

.intro-list table {
	width:auto !important;
}

.company {width:120px !important;}
.parent {width:140px !important;}
.helpers {width:50px !important;}
.recent {width:160px !important;}
.award {width:100px !important;}
.actions {width:55px;}

.page {width:none !important;}
#results {width:100% !important;}

#intro-content p {
    margin-bottom: 10px;
    min-height: 17px;
}

#add-introducer {margin-top:10px;}
#add-introducer h3 {
	font-weight:bold;
	margin-bottom:10px;
}

table tbody td {
    font-size: 0.8em;
}

#results{position:relative;}
#filter {
	position:absolute;
	top:25px;
	right:50px;
	color:white;
}

label {width:170px !important;}