@CHARSET "ISO-8859-1";

body {
	background-color:#fff !important;
	background: none !important;
}

.page {
	
	width: 95% !important;
	padding: 0px 0px 0px 10px;;
	background-color:#fff;
	margin:0px !important;
	max-width:none !important;
	
}

#content {
    padding: 0px 0px 10px 0px;
    
}

h2 {
	font-weight:bold;
	font-size: 1.4em;
	margin-bottom:10px;
}


#cp, #add-intro, #reports, #tp, #eallots, #cloning{
	display:none;
	position:absolute;
 	background-color: white;
    border: 10px solid #aeaeae;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	box-shadow:4px 4px 10px #2d2d2d;
	-webkit-box-shadow:4px 4px 10px #2d2d2d;
	-moz-box-shadow:4px 4px 10px #2d2d2d;
    padding: 10px;
	font-size:0.8em;
}

#cp,#tp {
	left: 175px;
    top: 700px;
    width: 380px;
}

#add-intro {
	top:140px;
	width:500px;
	left:130px;
}

#add-intro > h3 {
    color: #747474;
    font-weight: bold;
    margin-bottom: 5px;
}
#cp .rows label,#tp .rows label {width:130px !important;}
#cp > img, #add-intro > img, #rep-list > img, #tp > img, #edit-allotments img{
    position: absolute;
    right: 10px;
    top: 5px;
}

#list table {font-size:0.7em;}