@CHARSET "ISO-8859-1";

.award{width:240px;}
.share {width:240px;}
.date {width:110px;}
.compact {width:235px !important;}
.part {width:140px;}
.awarded {width:130px;}

#ind, #companies, #trusts, .uso-only  {display: none;}

.compact a {
	margin-left:5px;
}

#attachment a {
	margin-left:5px;
}

#rt:after{
	content: "No plan selected";
}

#extdts, #vc, #vcs {display:none;}

#rep-list {
	padding-top: 10px !important;
}


#rep-list a img {
	vertical-align:middle;
	margin-left:2px;
}

#progress_indicator {
    left: 5px;
    position: absolute;
    top: 100px;
}

#progress_indicator img {
	margin-left:5px;
	vertical-align:middle;
}

#am {
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 0px 5px 5px 5px;
}

#results {width:960px !important;}
.form-bkg{
	width:750px !important;
	display:none;
}

#rep-list > span {
    position: absolute;
    top: 3px;
}

.edit-only {display:none;}
.rows label {width:290px;}
.pound {  float: left;
  line-height: 14px;
  color: black;}

#reports li {color:blue;}
.rtitle {
	width:140px;
	display:inline-block;
}

.unallotted {
	background-color: orange;
    color: white;
}

.later:after {
			    background-color: orange;
			    content: "";
			    display: inline-block;
			    height: 15px;
				vertical-align: middle;
			    width: 15px;
			}
			
.white {color:white;}
#list {margin-top:5px !important;}
			
#date-range input, #edate-range input {
    width: 90px;
	
}
#arpt, #erpt, #date-range, #edate-range {
	display:none;
	margin:2px 0px;
}
#anr {display:none;}

#msr-man input {
	display:inline-block;
	float:none;
}

#msr-man{
	display: none;
	font-size: 0.8em;
}

#clone p {
	margin:5px 0px;
}

#clone span {
	font-weight: bold;
}

#clone-status {
	position: absolute;
    right: -135px;
    top: -0px;
}

#ea input {
	    text-align: right;
    margin-right: 15px;
    float: right;
}

#ea {margin-top:10px;}
.part input {display:none;}

#cloneaward .rows label {
	width:230px!important;                             
}
#clone img {
	position:absolute;
	right:5px;
}

#documents {
	display:none;
	position:absolute;
 	background-color: white;
    border: 10px solid #aeaeae;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	box-shadow:4px 4px 10px #2d2d2d;
	-webkit-box-shadow:4px 4px 10px #2d2d2d;
	-moz-box-shadow:4px 4px 10px #2d2d2d;
    padding: 10px;
	font-size:0.8em;
	left: 175px;
    top: 1600px;
    width: 380px;
}
#portal-documents-list {
	float: left;
}