@CHARSET "ISO-8859-1";

.page {width:none !important;}
header h2 {
	width:100%;
	text-align: center;
	margin-top:25px;
	
}

nav {
	width:100% !important;
	background-image:
    radial-gradient(
      circle at top right,
      #c2bfbf,
	#999999 60%
    );
}
header {height:115px !important;}
#content {
	padding-top:60px;
	
}

label.add img, img.addr {
    margin-left: 10px;
    vertical-align: middle;
}

/*#add-company, #add-staff, #add-plan, #add-award, #add-trust{margin-left:50px;}*/
#add-company h3, #add-staff h3, #add-plan h3, #add-award h3, #create-event h3  {
	font-weight:bold;
	margin-bottom:20px;
}

#cl-status {
	padding-left:230px;
	margin-top:5px;
}
#bnkdtls {display:none;}
.company {width:247px!important;}
.compact {width:90px !important;}

#feedback {
    right: 5px;
    position: absolute;
    top: 110px;
}
