@CHARSET "ISO-8859-1";

#results {width:72% !important;}
.form-bkg{
	width:65% !important;
	display:none; 
}

.rows label {width:290px !important;}

#content p {
	
	width:60%;
	margin:10px 0px 20px 0px;
}


#count {
	width:auto;
	margin:10px 0px 10px 0px;
}

.ispar, .issub, .isemp {
	width:100px;
	text-align:center;
}

#filter {
	left:10px !important;
	top:40px !important;
	text-align:middle;
}

.country {
    width: 200px;
}