@CHARSET "ISO-8859-1";

.eventspage p {
    margin: 10px 0 20px !important;
    width: 60%;
}

.stname {width:180px;}
.stno {width:120px;}
.stemail {width:240px;}
.company {width:200px !important;}

.award-name{width:130px;}
.share {width:140px;}
.date {width:100px;}

#results, #awards {display:none;}
.select-event{
	margin-bottom:20px;
	margin-left:50px;
}

.shname {width:180px;}
.exdate {width:120px;}
.extype {width:200px;}
.evtype {width:80px;}
.eventlist .compact {width:160px !important;}
.staffl .compact {width:115px !important;}
#alist .compact {width:320px !important;}
.list {width:870px !important;}
.stafflist{width:860px !important;}
.form-bkg{
	width:57% !important;
	display:none;
}

.sip {display:none};

#count {
	width:auto;
	margin:10px 0px 10px 0px;
}

#award_id {
    height: 150px;
    overflow-y: scroll;
    width: 250px;
}
#partner-shares {
	left: 385px;
    text-align: right;
    top: 3px;
    width: 75px;
}
#matching-shares {
	left:470px;
	top:3px;
	width:75px;
	text-align:right;
}

#free-shares {
	left: 555px;
    text-align: right;
    top: 3px;
    width: 75px;
}
 .ps-label {
	left: 415px;
    position: absolute;
    top: 2px;
}
 .mt-label {
	position:absolute;
    left: 500px;
 	top:2px;
}

 .fr-label {
	position:absolute;
    left: 585px;
 	top:2px;
}

.ahlp {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: 230px;
}

#tax-position {display:none;}
.employee-list {
	display:none;
	min-height:200px;
	max-height:200px;
}

.employee-list table, .employee-awards table {
	background-color:white;
	float:right;
}
.employee-list table thead, .employee-awards table thead {
	background-color:#888383;
	color:white;
}

.employee-list table tbody, .employee-awards table tbody {
	height:170px;
}
.name {width:150px;}
.has {
	width:150px;
	text-align:right;
}
.incs {
	width:80px;
	text-align:center;
}
.has > input {
    text-align: right;
}

#filter {
	top:45px !important;
	right:10px !important;
}

.incs input {
	margin-left:35px;
}

.relerror {
	border: 1px solid #ff0000 !important;
	color:red;
}

.ptnr, .mtchg {padding-right:5px;}
.ptnr, .mtchg, .free {
	width:80px;
}

.div {
	width:160px;
}

.ptnr input, .mtchg input, .free input {
	text-align:right;
	width:70px !important;
	padding-right: 5px;
}

.noedit {display:none !important;}
.forfeit, .lapse {
	color:red;
	border: 1px solid red !important;
}

.hide {
	display:none;
}