@CHARSET "ISO-8859-1";

.phdg {margin-bottom:10px;}

#part-import {
    background-color: #efefef;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    display: none;
    margin-bottom: 25px;
    padding: 5px;
}

#imp-status {
	color:black;
	font-size:0.8em;
};

.number_awarded {
	text-align:right;
	padding-right:10px;
}

.name {
    display: inline-block;
    width: 200px;
}

.inc {
    display: inline-block;
    width: 80px;
}


.shares {
    display: inline-block;
    width: 120px;
}


.contr {
    display: inline-block;
    width: 120px;
}

.hdgs {
	/* color:black; */
	font-weight:bolder;
}

#cont-hist {
	display:none;
	position: absolute;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
	box-shadow: grey 2px 2px 5px;
}

#cont-hist table th:first-child {width:180px;}
#cont-hist table tr td:first-child {width:180px;}
#cont-hist table tr input {
	width:75px;
	text-align:right;
}
#cont-hist span {
    margin-bottom: 10px;
    display: inline-block;
}

#cont-hist img {float:right;}
#subcont {
	text-align:center !important;
	cursor:pointer;
}
.edit-p, .remove-p {
	text-decoration: underline;
}

.leaver {
	border: solid 1px red;
    border-radius: 5px;
    padding: 2px;
}

.leaver::after {
	color:red;
	content: " Leaver";
}