@CHARSET "ISO-8859-1";

.stname {width:420px;}
.stno {width:110px;}
.stemail {width:100px;}
.compact {width:140px !important;}
.company {width:200px !important;}

.manage-award {
    margin-left: 5px;
}

#results {width:1000px !important;}
.form-bkg{
	width:1000px !important;
	display:none;
}

#rep-list {
	padding-top: 10px !important;
	margin-right: 50px;
}

#rep-list ul {
	width:320px;
}

#rep-list a img {
	vertical-align:middle;
	margin-left:2px;
}

#prpt > img {vertical-align:top !important;}
#rep-list > span {
    position: absolute;
    top: 3px;
}

#reports li {color:blue;}
.rtitle {
	width:160px;
	display:inline-block;
}

#date-range, #adate-range,#date-range-prs, #date-range-eprt{
	display:none;
	margin: 5px 0px 5px 0px;
}
#date-range input, #adate-range input, #date-range-prs input, #date-range-prt, #date-range-eprt input{
    width: 90px;
}

#anrpt, #arpt, .edit-only, #prsrpt, #ptrptx, #psf,.epsf,
.epsfx ,#date-range-prt, #date-range-eprt 
	{display:none;}
.assoc span {
    display: block;
    margin-left: 228px;
	color:black;
}

.underline {
	text-decoration: underline;
}

#documents {
	display:none;
	position:absolute;
 	background-color: white;
    border: 10px solid #aeaeae;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	box-shadow:4px 4px 10px #2d2d2d;
	-webkit-box-shadow:4px 4px 10px #2d2d2d;
	-moz-box-shadow:4px 4px 10px #2d2d2d;
    padding: 10px;
	font-size:0.8em;
	left: 175px;
    top: 760px;
    width: 380px;
}
#portal-documents-list {
	float: left;
}
