@CHARSET "ISO-8859-1";

#staff-import {
    background-color: #efefef;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    display: none;
    margin-bottom: 25px;
    padding: 5px;
	width:60%;
	
}

#staff-import p {width:100% !important;}

#od, #w75 {display:none;}

.stname {width:170px;}
.stno {width:90px;}
.stemail {
	width:230px;
	overflow-x:hidden;
}
.compact {width:330px !important;}
.company {width:260px !important;}
.batch, .pbatch {width:50px;
		text-align:center;
}

label.modal-label {
	width: 110px;
}

#shwd {
	position:absolute;
	color:white;
	top:30px;
	left:10px;
}

#shwl {
	position:absolute;
	color:white;
	top:30px;
	left:150px;
}

#add-addr {
	display:none;
	position:absolute;
 	background-color: white;
    border: 10px solid #aeaeae;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	box-shadow:4px 4px 10px #2d2d2d;
	-webkit-box-shadow:4px 4px 10px #2d2d2d;
	-moz-box-shadow:4px 4px 10px #2d2d2d;
    padding: 10px;
	font-size:0.8em;
}

#add-addr {
	top:950px;
	width:400px;
	left:250px;
}

#add-addr > h3 {
    color: #747474;
    font-weight: bold;
    margin-bottom: 5px;
}
#add-addr .rows label {width:130px;}
#add-addr > img {
    position: absolute;
    right: 10px;
    top: 5px;
}

#results {width:1250px !important;}
.form-bkg{
	width:800px !important;
	display:none;
}

#content p {
	
	width:60%;
	margin:25px 0px 10px 0px;
}


#count {
	width:auto;
	margin:25px 0px 10px 0px;
}

#rep-list > span {
    position: absolute;
    top: 3px;
}

#rep-list {
	padding-top: 10px !important;
} 

#rep-list ul {
	width:370px;
}

#rep-list a img {
	vertical-align:middle;
	margin-left:2px;
}

#plan-list, #date-range {
	display:none;
}

.exc {
	font-size:.8em;
	color:red;
}
#reports li {color:blue;}
.rtitle {
	width:180px;
	display:inline-block;
}

#getplanlist, #getsipstmt {
	text-decoration: underline;
	cursor:pointer;
}
#ta, #taxl, #ss {
	display:none;
}

#ss-plan-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

#date-range input {
    width: 90px;
}

.batchjob {
	color:white;
	background-color:green;
	border-radius:5px;
	padding:1px 2px 1px 2px;
	display:none;
}

#created {
	float: right;
    margin-top: 5px;
}

#documents {
	display:none;
	position:absolute;
 	background-color: white;
    border: 10px solid #aeaeae;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	box-shadow:4px 4px 10px #2d2d2d;
	-webkit-box-shadow:4px 4px 10px #2d2d2d;
	-moz-box-shadow:4px 4px 10px #2d2d2d;
    padding: 10px;
	font-size:0.8em;
	left: 175px;
    top: 1600px;
    width: 380px;
}
#portal-documents-list {
	float: left;
}
