@CHARSET "ISO-8859-1";

.tname {width:240px;}
.ttype {width:60px;}
.edt {width:130px;}
.hmrc-ref {width:130px;}
.tactions {width:50px;}

#add-trust h3 {
font-weight: bold;
margin-bottom: 20px;
}

#adb {display:none;}
#results {width:55% !important;}
.form-bkg{
	width:55% !important;
	display:none;
}

.small {
	padding-right:170px;
	font-size:.7em
}

#trustees table {
    font-size: 1.1em;
    margin-left: 230px;
}

#tp {display:none;}
.edit {display:hide;}
.cemail {width:170px !important;}
.cname {width:150px !important;}
.cline {width:130px !important;}