@CHARSET "ISO-8859-1";

#inv {
	/* margin-left:50px; */
	width:92%;
}

h3 {
	font-weight: bold;
    margin-bottom: 20px;
}

.ef {display:none;}
.clientname {
    width: 270px;
}
.date {
    width: 100px;
}
.invoice_no {
    width: 130px;
}
.compact {
    width: 325px !important;
}

#filter {top:20px !important;}

.form-bkg {
	display:none;
}

#paid-label {
    left: 620px;
    position: absolute;
    top: 685px;
}
#payment-items input {
    margin-right: 10px;
}
.idhint {display:none;}
.rows > span {
    color: black;
    font-size: 0.8em;
}
