@CHARSET "ISO-8859-1";
header {display:none;}
nav {display:none;}
#content p {display:none;}
#report {display:none;}

#title {
	font-weight:bold;
	margin:15px 0px 25px 25px;
}

#total {
	font-weight:bold;
	margin:450px 0px 0px 25px;
}

footer{
	width:100%;
	margin-top:50px;
	text-align:center;
}

#chart {margin-left:20px;}